#!/usr/bin/make -f

DEB_TARGET_ARCH = $(shell dpkg-architecture -qDEB_TARGET_ARCH)
DEB_TARGET_MULTIARCH = $(shell dpkg-architecture -qDEB_TARGET_MULTIARCH)

%:
	dh $@

override_dh_auto_build:
	#COMPRESSION="gzip" ./build-initrd-nochroot.sh
	#COMPRESSION="lz4" ./build-initrd-nochroot.sh
	./build-initrd.sh -a $(DEB_TARGET_ARCH)
	IS_RECOVERY="yes" COMPRESSION="gzip" ./build-initrd-nochroot.sh
	IS_RECOVERY="yes" COMPRESSION="lz4" ./build-initrd-nochroot.sh

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/linux-initramfs-halium-generic/usr/lib/$(DEB_TARGET_MULTIARCH)/halium-generic-initramfs/
	cp -v $(CURDIR)/out/* $(CURDIR)/debian/linux-initramfs-halium-generic/usr/lib/$(DEB_TARGET_MULTIARCH)/halium-generic-initramfs/

override_dh_auto_test:
	@set -e; for f in hooks/* scripts/panic/telnet scripts/halium; do \
	    echo "Checking sh syntax of $$f"; \
	    sh -n $$f; \
	done
